<app-create-package>
  <ng-container header>
    <h1 class="main-content__title">Create package</h1>
  </ng-container>

  <ng-container body>
    <div class="main-content__body">
      <mat-form-field appearance="outline" class="package_name">
        <mat-label>Nombre del paquete</mat-label>
        <input matInput [formControl]="packageName">
        @if (packageName.invalid && packageName.dirty) {
          @if (packageName.errors?.['required']) {
            <mat-error>El nombre del paquete es obligatorio.</mat-error>
          }
          @if (packageName.errors?.['minlength']) {
            <mat-error>El nombre del paquete debe tener al menos 3 caracteres.</mat-error>
          }
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="package_description">
        <mat-label>Descripción del paquete</mat-label>
        <textarea matInput [formControl]="packageDescription"></textarea>
        @if (packageDescription.invalid && packageDescription.dirty) {
          @if (packageDescription.errors?.['required']) {
            <mat-error>La descripción es obligatoria.</mat-error>
          }
          @if (packageDescription.errors?.['maxlength']) {
            <mat-error>La descripción debe tener menos de 500 caracteres.</mat-error>
          }
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="user_filter">
        <mat-label>DNI del cliente</mat-label>
        <input type="text"
               placeholder="Selecciona uno"
               aria-label="DNI del cliente"
               matInput
               [formControl]="myControl"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete"
                          [displayWith]="displayUser"
                          (optionSelected)="onUserSelected($event.option.value)">
          <mat-option *ngFor="let user of filteredOptions | async" [value]="user">
            {{user.firstName}} {{user.lastName}}
          </mat-option>
        </mat-autocomplete>
        @if (myControl.invalid && myControl.dirty) {
          <mat-error>La selección del cliente es obligatoria.</mat-error>
        }
      </mat-form-field>

      @for (activityQ of activityQuantity(); track activityQ) {
        <div class="activity_rows">
          <mat-form-field appearance="outline" class="activity">
            <mat-label>Actividad</mat-label>
            <mat-select (selectionChange)="onSelectChange($event, activityQ)">
              <mat-option [value]="-1">Selecciona una actividad</mat-option>
              @for (activity of activities; track activity.id) {
                <mat-option [value]="activity.id">{{ activity.name }}</mat-option>
              }
            </mat-select>
            @if (selectedValues()[activityQ - 1].activityId === -1) {
              <mat-error>Por favor selecciona una actividad.</mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="outline" class="classes">
            <mat-label>Clases semanales</mat-label>
            <input matInput type="number" min="1" (input)="onQuantityChange($event, activityQ)">
            @if (selectedValues()[activityQ - 1].quantity < 1) {
              <mat-error>Las clases semanales deben ser mayores a 0.</mat-error>
            }
          </mat-form-field>
        </div>
      }

      <div class="button-container__activities">
        <button mat-icon-button (click)="remove()" color="warn" class="remove_button">
          <mat-icon>remove</mat-icon>
        </button>
        <button mat-icon-button (click)="add()" color="primary" class="add_button">
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <div class="button-container__main">
        <button mat-stroked-button (click)="return()" color="warn" class="return_button">
          Volver
        </button>
        <button mat-flat-button (click)="create()" color="primary" class="create_button">
          Crear paquete
        </button>
      </div>

    </div>
  </ng-container>
</app-create-package>
