@use "../../../../variables.scss";
.main-content__title {
  margin: 0;
  color: variables.$white-color;
  font-size: 18px;
  font-weight: bold;
  text-align: start;
}
.main-content__body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.package_name, .package_description, .user_filter, .activity_rows, .button-container__activities, .button-container__main {
  width: 100%;
}

.button-container__activities, .button-container__main{
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.activity_rows {
  display: grid;
  grid-template-columns: 1.5fr 0.8fr;
  column-gap: 50px
}

.row{
  display: flex;
  flex-direction: row;
  align-items: center;

  .remove_button{
    margin-bottom: 20px;
    margin-left: 10px;
  }
}
.add{
  margin: 0 0 20px 0;
}

.button-container__activities{
  margin: 0 0 20px 0;
  justify-content: center;
}

.return_button{
  margin-right: 20px;
}

@media (max-width: 470px) {
  .button-container__main{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .return_button{
    margin: 10px 0 0 0;
  }
}
