<app-drawer>
  <ng-container main-content>
    <div class="main-div">
      <section class="main-section">
        <section class="top-section">
          <div class="calendar">
            <div class="title-section">
              <mat-icon style="padding: 0 5px 0 10px; color: #f6c90e"
                >calendar_month</mat-icon
              >
              <h1 class="datepicker-title">Select date</h1>
            </div>
            <mat-divider></mat-divider>
            <mat-form-field>
              <mat-label>DD/MM/YYYY</mat-label>
              <input
                [value]="selectedDate()"
                matInput
                [matDatepicker]="picker"
                (dateChange)="datePickerChangeEvent('change', $event)"
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="quick-actions">
            <div class="title-section">
              <mat-icon style="padding: 0 0 0 10px; color: #f6c90e"
                >auto_awesome</mat-icon
              >
              <h1 class="quickactions-title">Quick actions</h1>
            </div>
            <mat-divider></mat-divider>
            <div class="quickstart-buttons">
              <button mat-flat-button class="button-class" (click)="newShift($event)">
                <mat-icon>add</mat-icon>
                Add new shift
              </button>
              <button mat-flat-button class="button-class" (click)="newActivity($event)">
                <mat-icon>add_task</mat-icon>
                Add new activity
              </button>
              <button mat-flat-button class="button-class" (click)="newUser($event)">
                <mat-icon>person_add</mat-icon>
                Add new client
              </button>
              <button mat-flat-button class="button-class" (click)="newSale($event)">
                <mat-icon>attach_money</mat-icon>
                Enter sale
              </button>
              <button mat-flat-button class="button-class" (click)="shop($event)">
                <mat-icon>shopping_cart</mat-icon>
                Purchase gym elements
              </button>
            </div>
          </div>
        </section>
        <section class="botom-section">
          <div class="agenda">
            <div class="title-section">
              <mat-icon style="padding: 0 0 0 10px; color: #f6c90e"
                >calendar_view_day</mat-icon
              >
              <h1 class="agenda-title">Agenda</h1>
              <mat-chip-listbox
                class="activities-cards"
                multiple="true"
                aria-label="select activities"
                (change)="chipsChangeEvent('change', $event)"
              >
                @for (activity of activities; track activity) {
                <mat-chip-option [value]="activity.name" selected>
                  {{ activity.name }}
                </mat-chip-option>
                }
              </mat-chip-listbox>
            </div>

            <mat-divider></mat-divider>
            <div class="scrollable-section">
              <mat-action-list>
                @for (appointment of appointments; track appointment) { @if
                (selectedActivities().includes(appointment.activity) && appointment.date.toDateString() == selectedDate().toDateString()) {
                <button [value]='appointment' mat-list-item (click)="open_apointment($event, appointment)">
                  <div class="apointments">
                    <div class="appointment-title">
                      <p class="date">
                        @switch(appointment.date.getDay()){ @case(1){ Lunes }
                        @case(2){ Martes } @case(3){ Miercoles } @case(4){
                        Jueves } @case(5){ Viernes } @case(6){ Sabado }
                        @case(0){ Domingo } } {{ appointment.date.getDate() }} de
                        @switch(appointment.date.getMonth()){ @case(0){ Enero }
                        @case(1){ Febrero } @case(2){ Marzo } @case(3){ Abril }
                        @case(4){ Mayo } @case(5){ Junio } @case(6){ Julio }
                        @case(7){ Agosto } @case(8){ Septiembre } @case(9){
                        Octubre } @case(10){ Noviembre } @case(11){ Diciembre }
                        } de
                        {{ appointment.date.getFullYear() }}
                      </p>
                      <p class="time">
                        {{ appointment.startTime }} - {{ appointment.endTime }}
                      </p>
                    </div>
                    <div class="card-container">
                      <mat-chip class="appointment-activity-card">{{
                        appointment.activity
                      }}</mat-chip>
                    </div>
                    <div class="progress-bar-container">
                      <mat-progress-bar
                        class="progress-bar"
                        mode="determinate"
                        value="{{
                          (appointment.participantsCount * 100) /
                            appointment.max_capacity
                        }}"
                      ></mat-progress-bar>
                    </div>
                    <div class="user-quantity">
                      <p class="user-quantity-text">
                        {{ appointment.participantsCount }} /
                        {{ appointment.max_capacity }}
                        <mat-icon>person</mat-icon>
                      </p>
                    </div>
                    <div class="button-container">
                      <button (click)="$event.stopPropagation()" mat-icon-button class="edit" [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="edit_apointment($event, appointment.id)">Edit</button>
                        <button mat-menu-item (click)="open_apointment($event, appointment)">Open</button>
                        <button mat-menu-item (click)="cancel_apointment($event, appointment)">Cancel</button>
                      </mat-menu>
                    </div>
                  </div>
                </button>
                }}
                @if(appointments.length == 0 || noActivities()) {
                  <button mat-list-item>
                    <div class="no-apointments">
                      <p>No hay citas para este día</p>
                    </div>
                  </button>
                }
              </mat-action-list>
            </div>
          </div>
        </section>
      </section>
    </div>
  </ng-container>
</app-drawer>
