@use '../../../../variables.scss';

app-drawer{
    background-color: transparent;
}

ng-container{
    background-color: transparent;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: transparent;
}

.main-div {
  background-color: variables.$black-color;
  margin: 80px 20px 0px 30px;
  border-radius: 20px;
  height: 80%;
}

.top-section {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 32%;
  width: 100%;
}

.botom-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 60%;
  width: 100%;
  margin: 20px 0px 20px 0px;
}

.calendar {
  background-color: variables.$grey-color;
  height: 100%;
  width: 20%;
  margin: 0 20px 0 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  .title-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    .datepicker-title {
        margin: 10px 0 10px 10px;
        font-size: 1rem;
        color: variables.$light-gold-color;
        width: 100%;
        text-align: start;
        font-weight: 500;
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
    }
  }

  mat-form-field {
    width: 90%;
    margin: 10px 10px -10px 10px;

    input {
      width: 100%;
    }
  }
}

.quick-actions {
  background-color: variables.$grey-color;
  height: 100%;
  width: 80%;
  margin: 0 20px 0 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  .title-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    .quickactions-title {
        margin: 10px 0 10px 10px;
        font-size: 1rem;
        color: variables.$light-gold-color;
        width: 100%;
        text-align: start;
        font-weight: 500;
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
    }
  }

  .quickstart-buttons {
    margin: 15px 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    justify-content: center;
    align-content: center;
    .button-class {
      background-color: variables.$light-gold-color;
      white-space: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 0.8rem;
      margin: 0 10px;
    }
    @media (max-width: 900px) {
      .button-class:nth-child(n + 4) {
        display: none;
      }
    }

    @media (max-width: 550px) {
      .button-class:nth-child(n + 3) {
        display: none;
      }
    }
  }
}

mat-divider {
  width: 100%;
  opacity: 0.2;
}

.agenda {
  background-color: variables.$grey-color;
  height: 100%;
  width: 100%;
  margin: 0 20px 0 20px;
  border-radius: 10px;
  .title-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    .agenda-title {
      margin: 10px 0 10px 10px;
      font-size: 1rem;
      color: variables.$light-gold-color;
      width: 100%;
      text-align: start;
      font-weight: 500;
      white-space: normal;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .add-button {
      margin: 10px 10px 10px 0;
    }
  }
}

.scrollable-section {
  height: calc(100% - 50px);
  overflow-y: auto;
  width: 100%;
    // border: 1px solid black;
  border-radius: 0 0 10px 10px;  
 
   /* Estilos para WebKit (Chrome, Safari) */
   &::-webkit-scrollbar {
     width: 10px;
     padding: 0 10px 0 0;
   }
 
   &::-webkit-scrollbar-track {
     background: variables.$white-color;
     border-radius: 10px;
   }
 
   &::-webkit-scrollbar-thumb {
     background-color: variables.$black-color;
     border-radius: 10px;
     border: 1px solid variables.$white-color;
   } /* Color del thumb y del track */
}

mat-action-list {
  padding: 0;
}

@media (max-width: 400px) {
  .main-div {
    .calendar {
      width: 100%;
      margin: 0;
      mat-form-field {
        width: 90%;
      }
    }
    .quick-actions {
      display: none;
    }
    .botom-section {
      .agenda {
        width: 100%;
        margin: 0;
      }
    }
  }
}
