<app-drawer>
  <ng-container main-content>
    <div class="main-div">
      <section class="main-section">
        <section class="top-section">
          <div class="calendar">
            <div class="title-section">
              <mat-icon style="padding: 0 5px 0 10px; color:#f6c90e">calendar_month</mat-icon>
              <h1 class="datepicker-title">Select date</h1>
            </div>
            <mat-divider></mat-divider>
            <mat-form-field>
              <mat-label>MM/DD/YYYY</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                (dateChange)="addEvent('change', $event)"
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="quick-actions">
            <div class="title-section">
              <mat-icon style="padding: 0 0px 0 10px; color:#f6c90e">auto_awesome</mat-icon>
              <h1 class="quickactions-title">Quick actions</h1>
            </div>
            <mat-divider></mat-divider>
            <div class="quickstart-buttons">
              <button mat-flat-button class="button-class">
                <mat-icon>add</mat-icon>
                Add new shift
              </button>
              <button mat-flat-button class="button-class">
                <mat-icon>add_task</mat-icon>
                Add new activity
              </button>
              <button mat-flat-button class="button-class">
                <mat-icon>person_add</mat-icon>
                Add new client
              </button>
              <button mat-flat-button class="button-class">
                <mat-icon>attach_money</mat-icon>
                Enter sale
              </button>
              <button mat-flat-button class="button-class">
                <mat-icon>shopping_cart</mat-icon>
                Purchase gym elements
              </button>
            </div>
          </div>
        </section>
        <section class="botom-section">
          <div class="agenda">
            <div class="title-section">
              <mat-icon style="padding: 0 0px 0 10px; color:#f6c90e">calendar_view_day</mat-icon>
              <h1 class="agenda-title">Agenda</h1>
              <mat-chip-listbox class="activities-cards" multiple="true" aria-label="select activities">
                @for (activity of activities; track activity) {
                  <mat-chip-option [value]="activity.name" selected>
                    {{ activity.name }}
                  </mat-chip-option>
                }
              </mat-chip-listbox>
            </div>
            
            <mat-divider></mat-divider>
            <div class="scrollable-section">
              <mat-action-list>
                <button mat-list-item (click)="save()">Save</button>
                <button mat-list-item (click)="undo()">Undo</button>
                <button mat-list-item (click)="save()">Save</button>
                <button mat-list-item (click)="undo()">Undo</button>
                <button mat-list-item (click)="save()">Save</button>
                <button mat-list-item (click)="undo()">Undo</button>
                <button mat-list-item (click)="save()">Save</button>
                <button mat-list-item (click)="undo()">Undo</button>
                <button mat-list-item (click)="save()">Save</button>
                <button mat-list-item (click)="undo()">Undo</button>
              </mat-action-list>
            </div>
            <!-- <div class="example-events">
              @for (e of events(); track e) {
                <p>{{e}}</p>
              }
            </div> -->
          </div>
        </section>
      </section>
    </div>
  </ng-container>
</app-drawer>
