<mat-sidenav-container class="example-container">
  <!-- Sidenav para pantallas grandes (sale desde la izquierda) -->
  <mat-sidenav
    #desktopSidenav
    *ngIf="!isMobileScreen()"
    [opened]="opened"
    class="sidenav-left"
    mode="over"
  >
    <app-user-profile></app-user-profile>
    @if(isClient && !isAdmin){
      <app-drawer-list-client></app-drawer-list-client>
    } @else {
      <app-drawer-list></app-drawer-list>
    }
  </mat-sidenav>

  <!-- Sidenav para pantallas móviles (sale desde arriba) -->
  <mat-sidenav
    #mobileSidenav
    *ngIf="isMobileScreen()"
    [opened]="opened"
    class="sidenav-top"
    mode="over"
  >
    <app-user-profile></app-user-profile>
    @if(isClient && !isAdmin){
      <app-drawer-list-client></app-drawer-list-client>
    } @else {
      <app-drawer-list></app-drawer-list>
    }
  </mat-sidenav>

  <mat-sidenav-content>
    <app-toolbar>
      <ng-container toolbar-menu-button>
        <button
          (click)="toggleSidenav()"
          aria-label="open drawer menu"
          class="menu-button"
          mat-icon-button
        >
          <mat-icon>menu</mat-icon>
        </button>
      </ng-container>
      <ng-container toolbar-action-button>
        <button (click)="logout()" class="logout-button" mat-stroked-button>
          <mat-icon>logout</mat-icon>
          Cerrar sesión
        </button>
      </ng-container>
    </app-toolbar>
    <ng-content select="[main-content]"></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
