@use "../../../../variables.scss";

:host {
  display: block;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(10px);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  overflow-y: auto;
  }

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-y: hidden;
  }

mat-card {
  border-radius: 20px;
  margin-top: 70px;
  border: 0.001px solid rgb(18, 18, 18);

  padding: 20px;
  width: 550px;
  height: auto;
  min-width: 550px;
  max-width: 550px;

  margin-bottom: 30px;

  background-color: rgba(0, 0, 0, 0.872);
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  }

mat-card-header {
  justify-items: center;
  width: 100%;
  }

mat-card-content {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  }

.opciones {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  opacity: 0.7;

  mat-divider {
    flex: 1;
    margin: 0 20px;
    }
  }

.formas-login {
  display: flex;
  flex-direction: row;
  justify-content: center;

  button-login {
    margin: 0 20px;
    }

  .button-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    margin: 0 20px;
    cursor: pointer;
    border-radius: 50px;

    img {
      width: 100%;
      height: 100%;
      }

    .facebookimg {
      width: 90%;
      height: 90%;
      }
    }
  }

.botones {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  }

.titulo {
  font-size: 40px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
  }

#signup {
  width: 225px;
  margin-top: 20px;
  }

#login {
  width: 225px;
  margin-top: 20px;
  }

#volver {
  width: 100%;
  margin-top: 20px;
  border: #B9A552 2px solid;
  }


.example-form {
  width: 100%;
  }

.example-full-width {
  width: 100%;
  }

#email {
  margin-bottom: 5px;
  }

button {
  font-size: 16px;
  height: 55px;
  border-radius: 10px;
  }

.forgot {
  color: #B9A552;
  font-style: italic;
  margin-bottom: 6px;
  min-width: max-content;
  margin-left: 290px;
  text-decoration: underline;
  }

#olvidaste {
  cursor: pointer;
  }

.forgot:hover {
  color: #A3903F;
  cursor: pointer;
  }

.mat-mdc-card-header {
  width: 100%;
  display: block;
  margin-left: -16px;
  margin-bottom: 10px;
  }

@media (max-height: 765px) {
  .contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    }

  mat-card {
    margin-top: 90px;
    }
  }

@media (max-height: 710px) {
  .container {
    overflow-y: scroll;
    }
  }
