<app-toolbar></app-toolbar>
<div class="container">
  <ng-container main-content>
    <div class="centered-card">
      <div class="main-container">
        <div class="main-content">
          <mat-card-header>
            <p class="titulo">Iniciar sesión</p>
          </mat-card-header>

          <mat-card-content>
            <form [formGroup]="formGroup">
              <mat-form-field class="example-full-width" id="email">
                <mat-label>Email</mat-label>
                <input [errorStateMatcher]="matcher" formControlName="email" matInput placeholder="Ex. pat@example.com"
                       required type="email">
                @if (formGroup.get('email')?.hasError('email') && !formGroup.get('email')?.hasError('required')) {
                  <mat-error>
                    Por favor, ingrese un Email válido
                  </mat-error>
                }
                @if (formGroup.get('email')?.hasError('required')) {
                  <mat-error>
                    Su email es <strong>requerido</strong>
                  </mat-error>
                }
              </mat-form-field>

              <mat-form-field class="example-full-width" id="password">
                <mat-label>Password</mat-label>
                <input [type]="hide ? 'password' : 'text'" formControlName="password" matInput
                       placeholder="Enter your password" required>
              </mat-form-field>
              <div id="olvidaste">
                <section (click)="forgot()" class="forgot">¿Olvidaste tu contraseña?</section>
              </div>
              <div class="botones">

                <button (click)="onLogin()" id="login" mat-flat-button type="submit">
                  Iniciar sesión
                </button>

                <button (click)="signup()" id="signup" mat-raised-button>
                  Registrarse
                </button>

              </div>

              <button (click)="volver()" id="volver" mat-stroked-button>
                Volver
              </button>

              <div class="opciones">
                <mat-divider></mat-divider>
                <p> o iniciá sesión con </p>
                <mat-divider></mat-divider>
              </div>

              <div class="formas-login">
                <button (click)="google()" class='button-image' id="google" mat-icon-button>
                  <img alt="google" src="https://img.icons8.com/?id=17935&format=png&color=b9a552" style='color:white'>
                </button>
                <button (click)="microsoft()" class='button-image' id="microsoft" mat-icon-button>
                  <img alt="microsoft" src="https://img.icons8.com/?id=tW7wnUgft8zp&format=png&color=b9a552">
                </button>
                <button (click)="facebook()" class='button-image' id="facebook" mat-icon-button>
                  <img alt="facebook" class="facebookimg"
                       src="https://img.icons8.com/?id=118467&format=png&color=b9a552">
                </button>
              </div>

            </form>
          </mat-card-content>
        </div>
      </div>
    </div>
  </ng-container>
</div>
