<app-toolbar/>
<span>
    <mat-card appearance="outlined">

      <mat-card-header>
        <p class="titulo">Log In to your Account</p>
      </mat-card-header>

      <mat-card-content>
        <form [formGroup]="formGroup">
          <mat-form-field id="email" class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" [errorStateMatcher]="matcher"
              placeholder="Ex. pat@example.com" required>
            @if ("formGroup.get('email')?.hasError('email') && !formGroup.get('email')?.hasError('required')") {
            <mat-error>
              Please enter a valid email address
            </mat-error>
            }
            @if ("formGroup.get('email')?.hasError('required')") {
            <mat-error>
              Email is <strong>required</strong>
            </mat-error>
            }
          </mat-form-field>

          <mat-form-field id="password" class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" [type]="hide ? 'password' : 'text'"
              placeholder="Enter your password" required>
          </mat-form-field>
          <div id="olvidaste">
          <section class="forgot" (click)="forgot()">Forgot password?</section>
          </div>
          <div class="botones">

            <button type="submit" id="login" (click)="onLogin()" mat-flat-button >
              Log In
            </button>

            <button id="singup" (click)="singup()" mat-raised-button>
              Sing Up
            </button>

          </div>

          <button id="volver" (click)="volver()" mat-stroked-button>
            Go Back
          </button>

          <div class="opciones">
            <mat-divider></mat-divider>
            <p>or log in with</p>
            <mat-divider></mat-divider>
          </div>

          <div class="formas-login">
            <button class='button-image' (click)="google()" id="google" mat-icon-button>
              <img style='color:white' src="https://img.icons8.com/?id=17935&format=png&color=b9a552" alt="google">
            </button>
            <button class='button-image' (click)="microsoft()" id="microsoft" mat-icon-button>
              <img src="https://img.icons8.com/?id=tW7wnUgft8zp&format=png&color=b9a552" alt="microsoft">
            </button>
            <button class='button-image' (click)="facebook()" id="facebook" mat-icon-button>
              <img class="facebookimg" src="https://img.icons8.com/?id=118467&format=png&color=b9a552" alt="facebook">
            </button>
          </div>

        </form>
      </mat-card-content>
    </mat-card>
</span>