.contenedor {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: transparent;
  height: 100vh;
  width: 100%;
  padding: 0;
  position: relative; 
}

.card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #222222;
  color: #d0d0d0;
  font-weight: bold;
  width: 63%;
  padding: 1rem;
  box-sizing: border-box;
  max-width: 100%;
  overflow: hidden;
  position: absolute; 
  top: 10%; 
  left: 50%;
  transform: translate(-50%, 0); 
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  gap: 10px;
}

.left-header {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
}

h1 {
  font-size: 200%;
}

.icon {
  font-size: 230%;
  color: #d0d0d0;
  width: fit-content;
  height: fit-content;
}

.add-button {
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
  flex-shrink: 0;
  transform: translateX(-65%);
}

.table-container {
  flex: 1;
  max-height: auto; 
  border-radius: 10px;
  overflow: hidden;
}

mat-table {
  width: 100%;
  table-layout: fixed; 
  background-color: rgb(102, 100, 94);
  border-collapse: collapse; 
}

.column {
  background-color: transparent !important;
}

th, td {
  padding: 6px 40px;
}

th {
  font-size: 92%;
  transform: translateY(18%);
  padding: 2% !important;
  text-align: center;
}

td {
  font-size: 85%;
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap; 
  text-align: left;
}

tr {
  display: table-row; 
  font-weight: bold;
  font-size: 120%;
  color: #d0d0d0;
}



///////////////////////////////////////////////////////////////



@media (min-width: 999px) and (max-width: 1250px) {
  .card {
    width: 75%;  
    height: auto;
    padding: 0.75rem;
  }

  .card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;  
    gap: 12px;
    padding: 0 10px;
  }

  .left-header {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 60%; 
  }

  h1 {
    font-size: 140%; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .icon {
    font-size: 180%;  
  }

  .add-button {
    font-size: 22px;
    margin: 0;
    padding: 8px;
    align-self: center;
    transform: none;
    transform: translateX(-60%);  
  }

  .table-container {
    width: 100%;  
  }

  mat-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse; 
  }

  th, td {
    padding: 6px 33.5px;
  }
  
  th {
    font-size: 92%;
    transform: translateY(18%);
    padding: 2% !important;
    text-align: center;
  }
  
  td {
    font-size: 80%;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
    text-align: left;
  }
  

}

//////////////////////////////////////////


@media (min-width: 880px) and (max-width: 999px) {
  
  th {
    font-size: 80%;
    transform: translateY(30%);
    padding: 2% !important;
    text-align: left;
    padding: 3px !important;
  }
  
  td {
    font-size: 70%;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
    text-align: left;
    padding: 6px 10px;
  }

}





/////////////////////////////////////////////
@media (min-width: 756px) and (max-width: 880px) {
  
  th {
    font-size: 70%;
    transform: translateY(28%);
    padding: 2% !important;
    text-align: left;
    padding: 3px !important;
  }
  
  td {
    font-size: 60%;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
    text-align: left;
    padding: 6px 10px;
  }

}



/////////////////////////////////////////////

@media (min-width: 710px) and (max-width: 756px) {
  
  th {
    font-size: 65%;
    transform: translateY(38%);
    padding: 2% !important;
    text-align: left;
    padding: 3px !important;
  }
  
  td {
    font-size: 58%;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
    text-align: left;
    padding: 6px 6px;
  }

}

/////////////////////////////////////////////

@media (min-width: 670px) and (max-width: 710px) {
  
  th {
    font-size: 65%;
    transform: translateY(38%);
    padding: 2% !important;
    text-align: left;
    padding: 3px !important;
  }
  
  td {
    font-size: 55%;
    overflow: auto; 
    white-space: nowrap; 
    text-align: left;
    padding: 6px 4px;
  }

}

///////////////////////////////////////////

@media (min-width: 623px) and (max-width: 670px) {
  
  th {
    font-size: 62%;
    transform: translateY(38%);
    padding: 2% !important;
    text-align: left;
    padding: 2px !important;
  }
  
  td {
    font-size: 52%;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
    text-align: left;
    padding: 6px 3px;
  }

}

////////////////////////////////////////////

@media (min-width: 565px) and (max-width: 623px) {
  
  .card {
    width: 80%;  
    height: auto;
    padding: 0.75rem;
  }

  th {
    font-size: 75%;
    transform: translateY(38%);
    padding: 2% !important;
    text-align: left;
    padding: 1px !important;
  }
  
  td {
    font-size: 55%;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
    text-align: left;
    padding: 6px 10px;
  }

}

/////////////////////////////////////////////


@media (min-width: 506px) and (max-width: 565px) {
  
  .card {
    width: 90%;  
    height: auto;
    padding: 0.75rem;
  }

  th {
    font-size: 75%;
    transform: translateY(38%);
    padding: 2% !important;
    text-align: left;
    padding: 1px !important;
  }
  
  td {
    font-size: 57%;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
    text-align: left;
    padding: 6px 10px;
  }

}

////////////////////////////////////////////


@media (min-width: 470px) and (max-width: 506px) {
  
  .card {
    width: 100%;  
    height: auto;
    padding: 0.75rem;
  }

  th {
    font-size: 75%;
    transform: translateY(38%);
    padding: 2% !important;
    text-align: left;
    padding: 1px !important;
  }
  
  td {
    font-size: 57%;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
    text-align: left;
    padding: 6px 10px;
  }

}

//////////////////////////////////////////////

@media (min-width: 433px) and (max-width: 470px) {
  
  .card {
    width: 100%;  
    height: auto;
    padding: 0.75rem;
  }

  th {
    font-size: 75%;
    transform: translateY(38%);
    padding: 2% !important;
    text-align: left;
    padding: 1px !important;
  }
  
  td {
    font-size: 53%;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
    text-align: left;
    padding: 6px 10px;
  }

}

////////////////////////////////////////////


@media (min-width: 411px) and (max-width: 433px) {
  
  .card {
    width: 100%;  
    height: auto;
    padding: 0.75rem;
  }

  th {
    font-size: 65%;
    transform: translateY(48%);
    padding: 2% !important;
    text-align: left;
    padding: 1px !important;
  }
  
  td {
    font-size: 55%;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
    text-align: left;
    padding: 6px 5px;
  }

}

//////////////////////////////////////////////

@media (min-width: 393px) and (max-width: 411px) {
  
  .card {
    width: 100%;  
    height: auto;
    padding: 0.75rem;
  }

  th {
    font-size: 65%;
    transform: translateY(48%);
    padding: 2% !important;
    text-align: left;
    padding: 1px !important;
  }
  
  td {
    font-size: 53%;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
    text-align: left;
    padding: 6px 3px;
  }

}

/////////////////////////////////////////////

@media (max-width: 393px) {
  
  .table-container {
    overflow-x: auto; 
    width: 100%; 
  }

  .card {
    width: 100%;
  }

  th {
    font-size: 80%;
    transform: translateY(50%);
    padding: 2% !important;
    text-align: left;
    padding: 1px !important;
  }
  
  td {
    font-size: 70%;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
    text-align: left;
    padding: 6px 3px;
  }

}
