.container {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
}

.section,
.section2 {
  scroll-snap-align: start;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.section2 {
  backdrop-filter: blur(10px);
}

.card-prices,
.card-activities {
  width: 80%;
  padding: 20px;
  background: hsla(0, 0%, 0%, 0.8);
  color: white;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  color: #b9a552;
}



.activities, .prices {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  padding: 20px 0;
  gap: 50px;
  color: white;
}

.prices {
  gap: 10%;
}

.card-description {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  color: white;
  text-align: center;
}

.card-title {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 1.2rem;
  color: #b9a552;
}
.card-price {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  color: #b9a552;
}
.card-text {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.contenido {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
mat-card.activity {
  width: 200px;
  min-height: 130px ;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 8px;
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #b9a552;
}

.card-description {
  font-size: 0.9rem;
  color: white;
}

.card-price {
  margin-bottom: 10px;
}


@media (max-width: 768px) {
  .activities {
    padding: 10px 0;
    gap: 15px;
  }

  mat-card.activity {
    width: 100px;
    height: 130px;
  }

  .card-title {
    font-size: 1rem;
  }

  .card-description {
    font-size: 0.8rem;
  }
}


@media (max-width: 480px) {
  .activities {
    padding: 5px 0;
    gap: 10px;
  }
  .prices {
    gap: 10px;
    margin-bottom: 0;
  }

  .card-prices {
    margin-top: 65px;
    padding: 0;
  }

  mat-card.activity {
    width: 100px;
  }

  .card-title {
    font-size: 1rem;
  }

  .card-description {
    font-size: 0.7rem;
  }
}
