<app-toolbar>
  <ng-container toolbar-action-button>
    <button mat-flat-button class="login-button" (click)="login()">
      <mat-icon>login</mat-icon>
      Iniciar sesión
    </button>
  </ng-container>
</app-toolbar>
<div class="container">
  <section class="section" id="section1"></section>
  <section class="section2">
    <mat-card appearance="outlined" class="card-activities">
      <mat-card-content>
        <h4 class="title">Nuestras actividades</h4>
        <div class="activities">
          <app-activity-carousel></app-activity-carousel>
        </div>
      </mat-card-content>
    </mat-card>
  </section>
  <section class="section2">
    <mat-card appearance="outlined" class="card-prices">
      <mat-card-content>
        <h4 class="title">Arma tu paquete a tu manera!</h4>
        <div class="prices">
        <app-package-carousel></app-package-carousel>
        </div>
      </mat-card-content>
    </mat-card>
  </section>
</div>
