@use "../../../../variables.scss";

.centered-card{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  background-color: variables.$black-color;
  border-radius: 20px;
  padding: 20px;

  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    .main-content__header {
      width: 100%;
      .main-content__title {
        margin: 0;
        color: variables.$white-color;
        font-size: 18px;
        font-weight: bold;
        text-align: start;
      }
    }
    mat-divider {
      width: 100%;
      margin: 5px 0;
    }
  }
}




@media(max-width: 600px){
.centered-card{
  padding-top: 20px;
}
  .main-container {
    width: 100%;
    height: 100%;
    border-radius: 0;
    justify-content: start;
  }
  .main-content {
    .main-content__header {
      .main-content__title {
        font-size: 16px;
      }
    }
  }
}
