.container {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  }

mat-card {
  display: flex;
  width: 65%;
  }

.header {
  display: flex;
  flex-direction: row;
  }

img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  }

.info {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 60px;
  gap: 0.25em;
  font-size: large;

  .name {
    font-size: 300%;
    margin-bottom: -7.5px;
    }
  }

button {
  background-color: transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: #F6C90E;
  border: 1px solid rgba(246, 201, 14, 0.79);
  border-radius: 5px;
  font-size: 100%;
  }

button:hover {
  color: #222;
  background-color: #F6C90E;
  }
