<app-drawer>
  <ng-container main-content>
    <div class="container">
      <mat-card id="contenedora">
        <mat-card-header id="principal">
          <div class="photo">
            <img [src]="this.userModel().picture"
                 alt="Imagen del usuario"
                 class="user-avatar-img">
          </div>

          <div class="info">
            <div class="name">{{ userModel().firstName }} {{ userModel().lastName }}</div>
            <div class="email">{{ userModel().email }}</div>
            <div class="dni">DNI: {{ userModel().dni }}</div>
            <div class="edit">
              <button (click)="editUser()" class="button">Editar</button>
            </div>
          </div>

          <div class="streak">
            @if (streak() === 0) {
              <mat-card>
                <div class="text">Racha de presentes: 0 😭</div>
              </mat-card>
            } @else {
              <mat-card>
                <div class="text">Racha de presentes: {{ streak.toString().split(" ")[1].replace(']', '') }}🔥</div>
              </mat-card>
            }
          </div>
        </mat-card-header>

        <mat-card-content id="content-main">
          <div class="content">
            <section class="botom-section">
              <div class="agenda">
                <mat-tab-group>

                  <mat-tab>
                    <ng-template mat-tab-label>Turnos</ng-template>
                    <div class="iterables">
                      <div class="appointments">
                        <div class="scrollable-section">
                          <mat-action-list>
                            <div class="appointment-table">
                              <table [dataSource]="userAppointments()" class="appointment-table" mat-table>
                                <ng-container matColumnDef="date">
                                  <th *matHeaderCellDef mat-header-cell>Date</th>
                                  <td *matCellDef="let appointment" mat-cell>
                                    <div class="appointment-title">
                                      <p class="date">
                                        @switch (appointment.date.getDay()) {
                                          @case (1) {
                                            Lunes
                                          }
                                          @case (2) {
                                            Martes
                                          }
                                          @case (3) {
                                            Miercoles
                                          }
                                          @case (4) {
                                            Jueves
                                          }
                                          @case (5) {
                                            Viernes
                                          }
                                          @case (6) {
                                            Sabado
                                          }
                                          @case (0) {
                                            Domingo
                                          }
                                        } {{ appointment.date.getDate() }} de
                                        @switch (appointment.date.getMonth()) {
                                          @case (0) {
                                            Enero
                                          }
                                          @case (1) {
                                            Febrero
                                          }
                                          @case (2) {
                                            Marzo
                                          }
                                          @case (3) {
                                            Abril
                                          }
                                          @case (4) {
                                            Mayo
                                          }
                                          @case (5) {
                                            Junio
                                          }
                                          @case (6) {
                                            Julio
                                          }
                                          @case (7) {
                                            Agosto
                                          }
                                          @case (8) {
                                            Septiembre
                                          }
                                          @case (9) {
                                            Octubre
                                          }
                                          @case (10) {
                                            Noviembre
                                          }
                                          @case (11) {
                                            Diciembre
                                          }
                                        } de
                                        {{ appointment.date.getFullYear() }}
                                      </p>
                                      <p class="time">
                                        {{ appointment.startTime }} - {{ appointment.endTime }}
                                      </p>
                                    </div>
                                  </td>
                                </ng-container>
                                <ng-container matColumnDef="activity">
                                  <th *matHeaderCellDef mat-header-cell>No.</th>
                                  <td *matCellDef="let appointment" class="activity" mat-cell>
                                    <div class="card-container">
                                      <mat-chip class="appointment-activity-card">{{ appointment.activity }}</mat-chip>
                                    </div>
                                  </td>
                                </ng-container>
                                <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
                              </table>
                            </div>
                            <div *ngIf="userAppointments().length === 0">
                              <button mat-list-item>
                                <div class="no-apointments">
                                  <p>El usuario no se ha añadido a ningún turno todavía</p>
                                </div>
                              </button>
                            </div>
                          </mat-action-list>
                        </div>
                      </div>
                    </div>
                  </mat-tab>
                  <mat-tab>
                    <ng-template mat-tab-label>Paquetes</ng-template>
                    <mat-action-list>
                      <div *ngIf="userPackages().length === 0">
                        <button mat-list-item>
                          <div class="no-apointments">
                            <p>El usuario no posee paquetes todavía</p>
                          </div>
                        </button>
                      </div>
                    </mat-action-list>
                    <div class="paquetes">
                      @for (paquete of userPackages(); track paquete.expirationDate) {
                        @if (paquete.active) {
                          <div class="tarjeta-activa">
                            <mat-card>
                              <mat-card-header>
                                <h2 style="color: #222 !important">Paquete Activo</h2>
                              </mat-card-header>

                              <mat-divider></mat-divider>

                              <mat-card-content>
                                <p style="margin-bottom: 0; margin-top: 10px;">Fecha de
                                  vencimiento: {{ paquete.expirationDate.toLocaleString() }}</p>
                                <div class="actividad">
                                  <p style="margin-bottom: 0; font-weight: bold">Actividades:</p>
                                  <p style="margin-bottom: 0; font-style: italic; font-weight: bold">Créditos
                                    restantes</p>
                                </div>
                                <div class="actividades">
                                  @for (activity of paquete.activities; track activity.quantity) {
                                    <div class="actividad">
                                      <p>{{ activity.name }}</p>
                                      <p>{{ activity.quantity }}</p>
                                    </div>
                                  }
                                </div>

                              </mat-card-content>
                            </mat-card>
                          </div>
                        } @else {
                          <div class="tarjeta-inactiva">
                            <mat-card>
                              <mat-card-header>
                                <h2 style="color: #222 !important">Paquete Vencido</h2>
                              </mat-card-header>

                              <mat-divider></mat-divider>

                              <mat-card-content>
                                <p style="margin-bottom: 0; margin-top: 10px;">Fecha de
                                  vencimiento: {{ paquete.expirationDate.toLocaleString() }}</p>
                                <div class="actividad">
                                  <p style="margin-bottom: 0; font-weight: bold">Actividades:</p>
                                  <p id="credito" style="margin-bottom: 0; text-align: right !important; font-style:
                                  italic;
                                    font-weight: bold;">Créditos restantes</p>
                                </div>
                                <div class="actividades">
                                  @for (activity of paquete.activities; track activity.quantity) {
                                    <div class="actividad">
                                      <p>{{ activity.name }}</p>
                                      <p>{{ activity.quantity }}</p>
                                    </div>
                                  }
                                </div>

                              </mat-card-content>
                            </mat-card>
                          </div>
                        }
                      }
                    </div>
                  </mat-tab>
                </mat-tab-group>
              </div>
            </section>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>
</app-drawer>
