@use "../../../../variables.scss";
.container {
  margin-top: 150px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  }

.return {
  position: absolute;
  top: 10;
  left: 10;
  z-index: 1000;
}

#contenedora{
  min-width: 950px;
  background-color: #66645E;
  display: flex;
  padding: 25px;
  width: 65%;
  height: auto;
  flex-direction: column;
  margin-bottom: 30px;
  }

#principal {
  color: #D0D0D0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;

  .photo{
    width: fit-content;
    }

  img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    }

  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    padding-top: 30px;
    gap: 0.5em;
    font-size: large;
    width: 100%;

    .name {
      font-size: 2.5rem;
      margin-bottom: -7.5px;
      width: max-content;
      max-width: 400px;
      text-align: start;
      justify-content: left;
      }

    button {
      border: 1px solid rgba(246, 201, 14, 0.79);
      background-color: transparent;
      border-radius: 5px;
      font-size: 1rem;
      color: #F6C90E;
      }

    button:hover {
      color: #F6C90E;
      background-color: rgba(208, 208, 208, 0.1);
      cursor: pointer;
      }
    }

  .streak {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 170px;
    margin-right: 30px;
    justify-content: flex-end;
    width: 100%;

    mat-card {
      background-color: rgba(208, 208, 208, 0.75);
      padding: 10px;
      height: auto;
      width: max-content;
      font-weight: bold;
      color: #222;

      .text {
        width: 100%;
        padding-left: 5px;
        font-size: 0.99em;
        }
      }
    }
  }

.no-apointments {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 1rem;
  color: variables.$white-color;
  font-weight: 500;
  }

mat-action-list {
  padding: 0;
  flex: 1;
  overflow-y: auto;

  button {
    height: auto;
    }


  ::ng-deep .appointment-table {
    background-color: variables.$grey-color !important;
    border-radius: 10px;
    overflow: hidden;

    ::ng-deep .mat-column-date {
      width: 20%;
      height: 80px;
      }

    ::ng-deep .mat-column-activity {
      justify-items: right;
      width: 7%;
      padding-right: 10px !important;
      padding-left: 0 !important;
      }

    .appointment-title {
      margin: 10px 0 0 10px;
      color: variables.$white-color;
      width: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: end;
      text-align: start;
      font-weight: 500;

      .date {
        width: fit-content;
        margin: 0;
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1.1rem;
        }

      .time {
        width: fit-content;
        margin: -5px 0 0 0;
        font-size: 0.9rem;
        color: variables.$white-color;
        opacity: 0.6;
        }
      }
    }


  .card-container {
    width: 175px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .apointment-activity-card {
      padding: 0 0;
      margin: 10px 0 10px 20px;
      background-color: transparent;
      border-color: variables.$white-color;
      color: variables.$white-color;
      border-radius: 10px;
      }
    }
  }

.content {
  margin-top: 20px;

  h1 {
    font-weight: normal;
    margin: 30px auto 5px 20px;
    }
  }

.paquetes {
  width: 100%;
  align-items: center;
  color: #222 !important;

  mat-card {
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
    justify-self: center;
    margin-top: 15px;
    padding: 10px;
    width: 95.5%;
    border-radius: 30px;

    mat-card-header {
      justify-content: start;
      padding: 0;
      margin: 0;

      h2 {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 15px;
        font-weight: bold;
        }
      }

    mat-divider {
      width: 98%;
      align-self: center;
      }

    mat-card-content {
      .actividad {
        justify-content: space-between;
        display: flex;
        }

      .actividades {
        width: 100%;
        display: flex;
        flex-direction: column;
        }
      }

    p {
      padding: 0;
      margin: 5px 0 0 0;
    }
  }

  .tarjeta-activa {
    mat-card {
      background-color: #D9D9D9;
      }
    }

  .tarjeta-inactiva {
    mat-card {
      background-color: rgba(217, 217, 217, 0.6);
      }
    }

  }

@media (max-width: 1440px) {
  .container {
    margin-top: 150px;
    }

  #principal {
    display: grid;
    grid-template-areas:
      "img info"
      "img streak";
    grid-template-columns: 200px calc(100% - 250px);
    gap: 15px;
    }

  .photo {
    grid-area: img;
    display: flex;
    justify-content: center;

    img {
      width: 250px;
      height: 250px;
      }
    }

  .info {
    grid-area: info;
    padding-top: 20px !important;
    align-items: center;
    }

  .streak {
    grid-area: streak;
    display: flex;
    flex-direction: row;
    height: 0 !important;
    margin-right: 30px;

    mat-card {
      display: flex;
      }

    align-items: flex-start;
    justify-content: left;
    margin-top: 0;
    }
  }

@media (max-width: 1300px) {

  #principal {
    display: grid;
    grid-template-areas:
      "img info"
      "img streak";
    grid-template-columns: 200px calc(100% - 250px);
    gap: 15px;
    }

  .photo {
    grid-area: img;
    display: flex;
    justify-content: center;

    img {
      width: 250px;
      height: 250px;
      }
    }

  .info {
    grid-area: info;
    padding-top: 20px !important;
    align-items: center;
    }

  .streak {
    grid-area: streak;
    display: flex;
    flex-direction: row;
    height: 0 !important;
    margin-right: 30px;

    mat-card {
      display: flex;
      }

    align-items: flex-start;
    justify-content: left;
    margin-top: 0;
    }

  .content {
    padding: 15px;
    }
  }

@media (max-width: 1100px) {
  .button-class:nth-child(n + 4) {
    display: none;
    }
  ::ng-deep .mat-column-date {
    width: 40% !important;
    }
  ::ng-deep .mat-column-activity {
    width: 10%;
    }
  }

@media (max-width: 975px) {
  #principal {
    display: grid;
    grid-template-areas:
  "img info"
  "img streak";
    grid-template-columns: 200px calc(100% - 250px);
    gap: 15px;
    }

  .photo {
    grid-area: img;
    display: flex;
    justify-content: center;

    img {
      width: 250px;
      height: 250px;
      }
    }

  .info {
    grid-area: info;
    padding-top: 20px !important;
    align-items: center;
    }

  .streak {
    grid-area: streak;
    display: flex;
    flex-direction: row;
    height: 0 !important;
    margin-right: 30px;

    mat-card {
      display: flex;
      }

    align-items: flex-start;
    justify-content: left;
    margin-top: 0;
    }

  #contenedora{
    min-width: 680px;
    max-width: 960px;
    width: 90%;
    }

  .iterables {
    grid-template-areas:
  "appointments"
  "divider"
  "packages";
    gap: 1em;
    width: 100%;
    }
  }

@media (max-width: 910px) {
  .calendar {
    width: 100%;
    flex: 1;
    margin: 0;
    border-radius: 10px 10px 0 0;

    mat-form-field {
      width: 90%;
      }
    }

  ::ng-deep .mat-column-date {
    width: 20% !important;
    height: 80px !important;
    }

  ::ng-deep .mat-column-activity {
    width: 2% !important;
    }
  }

@media (max-width: 900px) {
  .button-class:nth-child(n + 3) {
    display: none;
    }
  }

@media (max-width: 820px) {
  .container {
    width: 100%;
    }

  mat-card {
    padding: 15px;
    width: 95%;
    }

  .info {
    font-size: 1rem;

    .name {
      font-size: 2rem;
      }
    }

  .streak {
    grid-area: streak;
    display: flex;
    flex-direction: column;
    height: 85%;
    align-items: flex-start;
    justify-content: flex-end;

    mat-card {
      align-self: flex-end;
      margin-left: -10px;
      }
    }

  .content {
    padding: 10px;
    }
  }

@media (max-width: 750px) {
  .calendar {
    width: 100%;
    flex: 1;
    margin: 0;
    border-radius: 10px 10px 0 0;

    mat-form-field {
      width: 90%;
      }
    }

  ::ng-deep .mat-column-date {
    width: 20% !important;
    height: 80px !important;
    }

  ::ng-deep .mat-column-activity {
    width: 2% !important;
    }

  @media (max-height: 765px) {
    .container{
      margin-top: 90px !important;
      }
    }

    }

@media (max-width: 710px) {
  .name {
    width: fit-content;
    }

  #content-main{
    padding: 0 !important;
    }

  #contenedora{
    min-width: 350px;
    max-width: 600px;
    width: 90%;
    padding: 0;
    }

  #principal {
    display: grid;
    grid-template-areas:
  "img"
  "info"
  "streak";
    grid-template-columns: 100%;
    gap: 0;
    }

  .photo {
    grid-area: img;
    width: 100% !important;
    height: 100% !important;
    justify-content: center;

    img {
      width: 60% !important;
      height: auto !important;
      }
    }

  .name {
    font-size: 2.5rem;
    margin-bottom: -7.5px;
    min-width: fit-content;
    width: fit-content;
    max-width: 200px !important;
    text-align: start;
    justify-content: left;
    }

  .info {
    grid-area: info;
    padding-top: 10px;
    margin-left: 0 !important;
    padding-left: 0 !important;
    align-items: center;
    }

  .streak {
    grid-area: streak;
    display: flex;
    flex-direction: row !important;
    height: 50px !important;
    margin-left: 0 !important;
    align-items: flex-start;
    justify-content: flex-start !important;
    mat-card {
      margin-left: 0;
      }
    }

  .iterables {
    grid-template-areas:
      "appointments"
      "divider"
      "packages";
    gap: 1em;
    width: 100%;
    }

  .date {
    font-size: 1rem !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
    overflow: hidden !important;
    }

  .mat-mdc-row:hover .mat-mdc-cell {
    background-color: rgba(0, 0, 0, 0.04);
    cursor: pointer;
    transition: background-color 0.3s ease;
    }

  .info {
    .name {
      font-size: 1.5rem;
      }
    }

  .iterables {
    .appointments,
    .packages {
      width: 100%;
      }
    }
  }
