@use "../../../../variables.scss";

.main-content__title {
    margin: 0;
    color: variables.$white-color;
    font-size: 1.5em;
    font-weight: bold;
    text-align: start;
  }

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0 auto;
    align-content: center;
}

::ng-deep .mat-mdc-card-header-text {
    width: fit-content !important;
}

mat-card-subtitle {
    color: variables.$white-color;
    font-style: italic;
    width: fit-content;
    margin-bottom: 5px;
}

.fila {
    flex-direction: row;
    display: flex;
    align-items: center;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.add {
    margin-right: 10px;
}

.threedotbutton {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}

.columna {
    flex-direction: column;
    display: flex;
}

.padre {
    border-radius: 20px;
    border: 0.001px solid rgb(18, 18, 18);
    padding: 40px;
    width: 60%;
    min-width: 650px;
    height: auto;
    background-color: #252525e7;
    box-shadow: 5px 5prgba(37, 37, 37, 0.76) rgba(0, 0, 0, 0.2);
    margin: 100px auto;

    .principal {
        font-size: 50px;
        color: white;
        font-weight: bold;
        margin-bottom: 10px;
        padding: 20px;
    }
}

mat-action-list {
    display: grid;
    flex-direction: column;
    row-gap: 20px;
}

.hija {
    border-radius: 20px;
    border: 0.001px solid rgb(18, 18, 18);
    padding: 20px;
    width: 100%;
    min-width: 900px;
    background-color: #0c0d0ffc;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    color: white;

    mat-card-title {
        font-size: 36px;
        display: flex;
    }
}

.no-announcements {
    margin: 40px;
    font-style: italic;
    color: white;
}

mat-divider {
    color: white;
    width: 100%;
}

@media(max-width: 1000px) {
    .hija {
        min-width: 600px;
    }
}

@media (max-width: 650px) {
    .hija {
        min-width: 300px;
    }
}