<div class="scrollable-section">
  <mat-action-list>
    <div class="appointment-table">
      <table mat-table [dataSource]="appointmentList()" class="appointment-table">
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date</th>
          <td mat-cell *matCellDef="let appointment">
            @if (selectedActivities().includes(appointment.activity)) {
              <div class="appointment-title">
                <p class="date">
                  @switch (appointment.date.getDay()) {
                    @case (1) {
                      Lunes
                    }
                    @case (2) {
                      Martes
                    }
                    @case (3) {
                      Miercoles
                    }
                    @case (4) {
                      Jueves
                    }
                    @case (5) {
                      Viernes
                    }
                    @case (6) {
                      Sabado
                    }
                    @case (0) {
                      Domingo
                    }
                  } {{ appointment.date.getDate() }} de
                  @switch (appointment.date.getMonth()) {
                    @case (0) {
                      Enero
                    }
                    @case (1) {
                      Febrero
                    }
                    @case (2) {
                      Marzo
                    }
                    @case (3) {
                      Abril
                    }
                    @case (4) {
                      Mayo
                    }
                    @case (5) {
                      Junio
                    }
                    @case (6) {
                      Julio
                    }
                    @case (7) {
                      Agosto
                    }
                    @case (8) {
                      Septiembre
                    }
                    @case (9) {
                      Octubre
                    }
                    @case (10) {
                      Noviembre
                    }
                    @case (11) {
                      Diciembre
                    }
                  } de
                  {{ appointment.date.getFullYear() }}
                </p>
                <p class="time">
                  {{ appointment.startTime }} - {{ appointment.endTime }}
                </p>
              </div>
            }
          </td>
        </ng-container>
        <ng-container matColumnDef="activity">
          <th mat-header-cell *matHeaderCellDef> No.</th>
          <td mat-cell *matCellDef="let appointment">
            <div class="card-container">
              <mat-chip class="appointment-activity-card">{{
                  appointment.activity
                }}
              </mat-chip>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="capacity">
          <th mat-header-cell *matHeaderCellDef> No.</th>
          <td mat-cell *matCellDef="let appointment" class="columnaCantidad">
            <div class="cantidad">
              <div class="progress-bar-container">
                <mat-progress-bar
                  class="progress-bar"
                  mode="determinate"
                  value="{{
                          (appointment.participantsCount * 100) /
                            appointment.max_capacity
                        }}"
                ></mat-progress-bar>
              </div>
              <div class="user-quantity">
                <p class="user-quantity-text">
                  {{ appointment.participantsCount }} /
                  {{ appointment.max_capacity }}
                  <mat-icon>person</mat-icon>
                </p>
              </div>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> No.</th>
          <td mat-cell *matCellDef="let appointment">
            <div class="button-container">
              <button (click)="$event.stopPropagation()" mat-icon-button class="edit"
                      [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="edit_appointment($event, appointment.id)">Edit</button>
                <button mat-menu-item (click)="open_appointment($event, appointment)">Open</button>
                <button mat-menu-item (click)="cancel_appointment($event, appointment)">Cancel</button>
              </mat-menu>
            </div>
          </td>
        </ng-container>

        <tr
          mat-row
          (click)="open_appointment($event, row)"
          *matRowDef="let row; columns: displayedColumns;"
        ></tr>

      </table>

    </div>
    @if (appointmentList().length == 0 || noActivities()) {
      <button mat-list-item>
        <div class="no-apointments">
          <p>No hay citas para este día</p>
        </div>
      </button>
    }
  </mat-action-list>
</div>
