.contenedor{
  padding: 10px 20px 0 20px;
}

.date {
  text-align: end;
  font-style: italic;
}

.center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
