<app-drawer>
    <ng-container main-content>
      <div class="contenedora">
        <mat-card id="principal">
          <mat-card-header>
            <mat-card-title>Users</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              <ng-container matColumnDef="position">
                <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.firstname}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.lastname}} </mat-cell>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="weight">
                <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="symbol">
                <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <div class="derecha">
                    <div id="boton">
                      <button class="delete" type="submit"
                              (click)="deleteUser(element.id)">Delete</button>
                      <button type="submit" class="update"
                              (click)="updateUser(element.id)">Update</button>
                    </div>
                  </div>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
          </mat-card-content>
        </mat-card>
      </div>
    </ng-container>
</app-drawer>
