<app-drawer>
  <ng-container main-content>
    <div class="contenedora">
      <mat-card id="principal">
        <mat-card-header>
          <div class="title-section">
          <mat-icon class="icon">people</mat-icon>
          <h1>Users</h1>
          </div>
        </mat-card-header>
        <mat-card-content>
          <div class="table-container">
            <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              <ng-container matColumnDef="firstName">
                <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="lastName">
                <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="buttons">
                <mat-header-cell class="derecha" *matHeaderCellDef></mat-header-cell>
                <mat-cell class="derecha" *matCellDef="let element">
                  <div class="button-container">
                    <button (click)="$event.stopPropagation()" mat-icon-button class="edit" [matMenuTriggerFor]="menu">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="updateUser(element.id)">Update</button>
                      <button mat-menu-item (click)="deleteUser(element.id)">Delete</button>
                    </mat-menu>
                  </div>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>
</app-drawer>
