@use "../../../../variables.scss";
.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.742);
    z-index: 1000;
    mat-card-content{
        margin-top: 20px;
        margin-left: -70px;
    }
    button{
        margin-left: -15px;
    }
}

mat-card-content {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

mat-card {
    border-radius: 20px;
  margin-top: 70px;
    border: 0.001px solid rgb(18, 18, 18);

    padding: 20px;
    width: 550px;
    height: auto;
    min-width: 550px;
    max-width: 550px;

    background-color: rgba(0, 0, 0, 0.872);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#vuelta {
    margin-top: 15px;
}

.compartidos {
    width: 230px;
}

.titulo {
    font-size: 30px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 20px;
}

#singup {
    width: 100%;
    margin-top: 20px;
    border: #B9A552 2px solid;
}

.example-form {
    width: 100%;
}

.example-full-width {
    margin-bottom: 5px;
    width: 100%;
}

.icon-text-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 0px;
    color: #d0d0d0;
    width: 140px;
}

mat-icon{
    display: block;
    margin-right: -15px;
}

span{
    margin-bottom: 1px;
    padding-left: 15px;
}

.icon-text-container:hover {
   color: #b9a552;
   cursor: pointer;
}

.icon-text-container mat-icon {
    padding-left: 5px;
}


button {
    font-size: 16px;
    height: 55px;
    border-radius: 10px;
}

:host {
    display: block;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(10px);
    background: url('/assets/background.png') no-repeat center center / cover;
}

.error-dialog{
    width: '250px',
    enterAnimationDuration,
    exitAnimationDuration,
}

.password-errors {
    position: absolute;
    color: red;
    border: 1px solid red;
    padding: 10px;
    z-index: 1000;
    width: 100px;
    left: calc(100% + 10px); /* Ajusta la posición a la derecha del input */
  }

  .password-errors {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.872);
    border: 1px solid rgb(255, 0, 1);
    color: rgb(200, 0, 0);
    font-weight: 700;
    border-radius: 20px;
    padding: 10px;
    z-index: 1000;
    width: 50%;
    left: calc(100% + 10px); /* Ajusta la posición a la derecha del input */
    top: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ul {
    padding-left: 20px;
  }

  
  
  .example-full-width {
    position: relative;
  }
 