<app-carousel [visibleItems]="3">
  <ng-template #carouselItem>
    <mat-card>
      <mat-card-title>Elemento 1</mat-card-title>
      <mat-card-content>Contenido del primer elemento.</mat-card-content>
    </mat-card>
  </ng-template>

  <ng-template #carouselItem>
    <mat-card>
      <mat-card-title>Elemento 2</mat-card-title>
      <mat-card-content>Contenido del segundo elemento.</mat-card-content>
    </mat-card>
  </ng-template>

  <ng-template #carouselItem>
    <mat-card>
      <mat-card-title>Elemento 3</mat-card-title>
      <mat-card-content>Contenido del tercer elemento.</mat-card-content>
    </mat-card>
  </ng-template>

  <ng-template #carouselItem>
    <mat-card>
      <mat-card-title>Elemento 4</mat-card-title>
      <mat-card-content>Contenido del cuarto elemento.</mat-card-content>
    </mat-card>
  </ng-template>

  <ng-template #carouselItem>
    <mat-card>
      <mat-card-title>Elemento 5</mat-card-title>
      <mat-card-content>Contenido del quinto elemento.</mat-card-content>
    </mat-card>
  </ng-template>
</app-carousel>
