<app-drawer>
  <ng-container main-content>
    <span class="mainPage">
      <mat-card>
        <div class="header">
        <mat-card-header>
          <div class="back">
            <button (click)="homePage()" aria-label="Go back" class="back-btn" mat-icon-button>
              <mat-icon>chevron_left</mat-icon>
            </button>
          </div>

          <div class="avatar-container">
            <div class="user-avatar">
              <img [src]="userImage" alt="User Image" class="user-avatar-img">
            </div>
          </div>

          <div class="role-container">
            <select [(ngModel)]="user.role" class="role-select">
              @for (role of roles; track role) {
                <option class="option" [value]="role" (click)="changeRole(role)">
                  {{ role | titlecase }}
                </option>
              }
            </select>
          </div>
        </mat-card-header>
        </div>
        <mat-divider></mat-divider>

        <mat-card-content>
          <form (ngSubmit)="saveChanges()" [formGroup]="form">
            <div class="user-content">
              <div class="row">
                <div class="input-combo">
                <mat-label>First Name</mat-label>
                <mat-form-field appearance="outline" class="custom-text-color" placeholder="Enter your first name">
                  <input formControlName="firstName" id="firstName" matInput type="text">
                </mat-form-field>
                </div>

                <div class="input-combo">
                  <mat-label>Last Name</mat-label>
                <mat-form-field appearance="outline">
                  <input [errorStateMatcher]="matcher" formControlName="lastName" id="lastName"
                         matInput placeholder="Enter your last name" type="text"/>
                </mat-form-field>
                  </div>
              </div>

              <div class="row">
                <div class="input-combo">
                  <mat-label>DNI</mat-label>
                  <mat-form-field appearance="outline">
                  <input [errorStateMatcher]="matcher" formControlName="dni" id="dni" matInput
                         placeholder="Enter your DNI" type="text"/>
                    @if ("form.get('dni')?.hasError('required') && (form.get('dni')?.touched") {
                      <mat-error>
                       DNI is required
                    </mat-error>
                    }
                </mat-form-field>
                </div>

                <div class="input-combo">
                  <mat-label>Email</mat-label>
                <mat-form-field appearance="outline" class="email">
                  <input [value]="user.email" disabled id="email" matInput type="text"/>
                </mat-form-field>
                </div>
              </div>


              <div class="row">
                <div class="input-combo">
                  <mat-label>Mobile</mat-label>
                <mat-form-field appearance="outline">
                  <input [errorStateMatcher]="matcher" formControlName="phone" id="phone" matInput type="text"/>

                  @if ("form.get('phone')?.hasError('required') && (form.get('phone')?.touched || form.get('phone')?.dirty") {
                    <mat-error>
                       Mobile is required
                    </mat-error>
                  }
                </mat-form-field>
                </div>

              <div class="row">
                <div class="change-password-container">
                  <button (click)="changePassword()" color="primary" mat-raised-button>
                    Change password
                    <mat-icon class="icon-right">chevron_right</mat-icon>
                  </button>
                </div>
              </div>
              </div>

              <div class="save-container">
                <button class="custom-button" mat-button type="submit">
                  Save
                </button>
              </div>
           </div>
          </form>
        </mat-card-content>
      </mat-card>
    </span>
  </ng-container>
</app-drawer>
