.mainPage {
  background-color: transparent;

  justify-content: center;
  align-items: center;
  display: flex;

  margin-top: 100px;
  height: 75%;
  width: 100%;
  padding: 0;
}

mat-card {
  color: #222222;
  background-color: #66645E;

  display: flex;
  flex-direction: column;

  justify-content: center;
  justify-items: center;
  align-items: center;
  box-sizing: border-box;

  height: auto;
  width: 50%;
  max-width: 100%;
}

mat-card-header {
  flex-direction: row;
  display: grid;
  grid-template-areas:
  "back photo role";
  grid-template-columns: 3fr 1fr 3fr;

  align-items: center;
  position: relative;
}


.back {
  grid-area: back;
  align-items: flex-start;
  position: absolute;
  width: 100%;

  height: 100%;
}

.back-btn {
  border-radius: 50%;
  color: #222222;
}


.avatar-container {
  grid-area: photo;
  margin: 10px 0 10px;

  justify-content: center;
  align-items: center;
  display: flex;
  width: max-content;
}

.user-avatar {
  position: relative;

  border-radius: 50%;
  width: fit-content;
  height: auto;
}

.user-avatar-img {
  width: fit-content;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  transform: translateY(0.07cm);
}

.role-container {
  grid-area: role;
  height: 100%;

  position: relative;
  display: flex;
  justify-content: right;
}

.role-select {
  color: #222222;
  background-color: #F6C90E;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border: #0a0b0b;
  border-radius: 10px;

  position: absolute;
  align-self: flex-end;

  font-size: 100%;
  font-weight: bold;
  padding: 3px;
  height: fit-content;
}

mat-divider {
  width: 90%;
  margin: 2% 0 2% 0;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 90%;
}

.change-password-container {
  min-width: 210px;
  width: 100%;
  align-content: center;
}

button[mat-raised-button] {
  display: flex;
  text-align: center;
  align-items: center;
  box-sizing: border-box;

  padding: 5% 1%;
  margin-top: 6px;
  width: 100%;
  height: 50%;

  background-color: transparent;

  color: #222222;
  border: 1px solid #222222;
  border-radius: 7px;
}

.input-combo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
}

.custom-button {
  background-color: rgba(246, 201, 14, 0.69);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #000000 !important;
  border-radius: 7px;

  font-weight: bold;
  font-size: 80%;

  width: fit-content + 5px;
}

.custom-button:hover {
  background-color: #F6C90E;
  color: #222222;
}

.save-container {
  margin: 10px 0 10px 0;
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
}

::ng-deep .mat-mdc-form-field-flex {
  height: 45px !important;
  align-items: center !important;
}

:host ::ng-deep .mdc-notched-outline {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
  border-radius: 8px !important;
  background-color: #D0D0D0 !important;
  padding: 8px !important;
}

:host ::ng-deep .mdc-notched-outline__leading {
  border-left: 0 !important;
}

:host ::ng-deep .mat-mdc-notch-piece {
  border-top: 0;
  border-bottom: 0;
}

:host ::ng-deep .mdc-notched-outline__trailing {
  border-right: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

///////////////////////////////////////////////////////////////////////////////

@media (max-width: 1024px) {
  .tarjeta {
    width: 80%;
    height: auto;
  }

  .fila {
    gap: 2%;
  }

  .user-avatar {
    width: 15vw;
    max-width: 100px;
  }

  .role-container {
    bottom: calc(5% + 0.5cm);
    right: 0.5rem;
  }
}

@media (max-width: 768px) {
  .tarjeta {
    width: 95%;
    height: auto;
    max-height: none;
  }

  .fila {
    flex-direction: column;
    gap: 0.5rem;
  }

  .user-avatar {
    width: 25vw;
    max-width: 80px;
  }
}

@media (max-width: 480px) {
  .tarjeta {
    width: 100%;
    height: auto;
    max-height: none;
  }

  .fila {
    gap: 0.3rem;
  }

  .user-avatar {
    width: 30vw;
    max-width: 70px;
  }
}
