.mainPage {
  background-color: transparent;
  display: flex;
  flex-direction: row;

  justify-content: center;
  justify-items: center;
  align-items: center;

  margin-top: 100px;
  width: 100%;
  padding: 0;
  }

h4{
  text-align: center;
  position: relative;
  margin-bottom: 50px;
  }

mat-card {
  color: #D0D0D0;
  background-color: #66645E;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  justify-items: center;
  box-sizing: border-box;

  height: auto;
  width: 60%;
  }

form{
  width: 100%;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  }

mat-card-header {
  flex-direction: row;
  display: grid;
  grid-template-areas:
  "back photo role";
  grid-template-columns: 3.5fr 4fr 3.5fr;

  align-items: end !important;
  position: relative;
  }


.back {
  grid-area: back;
  align-items: flex-start;
  position: absolute;

  width: 100%;
  height: 100%;
  }

.back-btn-not-found{
  border-radius: 50%;
  color: #D0D0D0;
  align-self: flex-start;
  margin: 10px;
  display: flex;
  }

.not-found{
  display: flex;
  flex-direction: column;
  }

.back-btn {
  border-radius: 50%;
  color: #D0D0D0;
  }

.avatar-container {
  grid-area: photo;
  margin: 10px 0 10px;

  justify-content: center;
  align-items: center;
  display: flex;
  }

.hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #D0D0D0;
  background-color: rgba(34, 34, 34, 0.77);
  padding: 5px 10px;
  border-radius: 5px;
  width: max-content;
  font-size: 14px;
  text-align: center;
  }

.user-avatar:hover .hover-text {
  opacity: 1;
  }

.user-avatar:hover .user-avatar-img {
  filter: brightness(0.5);
  }

.hover-text:hover {
  cursor: pointer;
  }

.hover-text:hover {
  cursor: pointer;
  }

.user-avatar {
  position: relative;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  }

.user-avatar-img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  }

.user-avatar img:hover {
  cursor: pointer;
  border-radius: 50%;
  filter: brightness(0.8);
  width: 100%;
  }

.role-container {
  grid-area: role;
  height: 100%;

  position: relative;
  display: flex;

  flex-direction: row;
  align-items: center;
  justify-content: right;
  gap: 0;
  }

.role-select {
  background-color: rgba(246, 201, 14, 0.91);
  color: #000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border: #0A0B0B;
  border-radius: 7px;

  position: absolute;
  align-self: flex-end;

  font-size: 100%;

  padding: 1% 1% 1% 1%;
  margin-right: 40px;

  width: auto;
  height: fit-content;
  }

.role-select:hover {
  color: #222222;
  background-color: #F6C90E;
  mat-icon{
    color: #222222;
    }
  }

.role-select option {
  color: #222;
  background-color: #D0D0D0;
  }

.role-select option:checked {
  color: #222;
  background-color: #D0D0D0;
  }

.role-select option:hover {
  color: #222;
  background-color: #D0D0D0;
  }

mat-divider {
  width: 90%;
  margin: 2% 0 5% 0;
  align-self: center;
  }


mat-card-content {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-self: center;
  }

.input-combo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  }

.row {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  width: 100%;
  }

.change-password-container {
  min-width: 210px;
  width: 100%;
  }

.paCompletar{
  width: 100%;
  }

button[mat-raised-button] {
  flex-direction: row-reverse;
  gap: 2.5%;
  display: flex;
  text-align: center;
  align-items: center;
  box-sizing: border-box;

  padding: 5% 1%;
  width: 100%;
  height: auto;

  background-color: transparent;

  color: #D0D0D0;
  border: 1px solid #D0D0D0;
  border-radius: 7px;
  }


.save-container {
  margin: 10px 0 10px 0;
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
  }

.custom-button {
  background-color: rgba(246, 201, 14, 0.91);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #000 !important;
  border-radius: 7px;

  font-size: 100%;

  width: fit-content + 5px;
  height: fit-content !important;
  padding: 10px 25px 10px 25px;
  }

.custom-button:hover {
  background-color: #F6C90E;
  color: #222;
  }

::ng-deep .mat-mdc-form-field-flex {
  height: 40% !important;
  align-items: start !important;
  }

///////////////////////////////////////////////////////////////////////////////

@media (max-width: 1024px) {
  mat-card {
    width: 80%;
    height: auto;
    margin-bottom: 70px;
    }

  mat-card-header {
    flex-direction: row;
    display: grid;
    grid-template-areas:
  "back photo role";
    grid-template-columns: 3.5fr 8fr 3.5fr;

    align-items: end !important;
    position: relative;
    }

  .row {
    flex-direction: column;
    display: flex;
    gap: 0.5rem;
    }

  .role-select {
    background-color: rgba(246, 201, 14, 0.91);
    color: #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border: #0A0B0B;
    border-radius: 7px;

    position: absolute;
    align-self: flex-end;

    font-size: 100%;

    padding: 1% 1% 1% 1%;
    margin-right: 20px;
    margin-bottom: 10px;

    width: auto;
    height: fit-content;
    }

  .custom-button {
    background-color: rgba(246, 201, 14, 0.91);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #000 !important;
    border-radius: 7px;

    font-size: 100%;

    margin-top: 20px;
    width: 100%;
    height: auto;
    padding: 15px 25px 15px 25px;
    }

  button[mat-raised-button] {
    flex-direction: row-reverse;
    gap: 2.5%;
    display: flex;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    padding: 3% 1%;

    width: 100%;
    height: fit-content;

    background-color: transparent;

    color: #D0D0D0;
    border: 1px solid #D0D0D0;
    border-radius: 7px;
    }

  .avatar-container {
    grid-area: photo;
    width: 100%;

    justify-content: center;
    align-items: center;
    display: flex;
    }

  .hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #D0D0D0;
    background-color: rgba(34, 34, 34, 0.77);
    padding: 5px 10px;
    border-radius: 5px;
    width: max-content;
    font-size: 14px;
    text-align: center;
    }

  .user-avatar:hover .hover-text {
    opacity: 1;
    }

  .user-avatar:hover .user-avatar-img {
    filter: brightness(0.5);
    }

  .hover-text:hover {
    cursor: pointer;
    }

  .hover-text:hover {
    cursor: pointer;
    }

  .user-avatar {
    position: relative;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

  .user-avatar-img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    }

  .user-avatar img:hover {
    cursor: pointer;
    border-radius: 50%;
    filter: brightness(0.8);
    width: 100%;
    }
  }

@media (max-width: 768px) {
  mat-card {
    width: 95%;
    height: auto;
    max-height: none;
    margin-bottom: 70px;
    }

  row {
    flex-direction: column;
    gap: 0.5rem;
    }
  }

@media (max-height: 700px) {
  .mainPage {
    margin-top: 80px;
    }

  .user-avatar{
    width: 100px;
    height: 100px;
    }

  mat-card {
    height: fit-content;
    margin-bottom: 0;
    }
  }
