<app-toolbar>
  <ng-container toolbar-action-button>
    <button (click)="login()" class="login-button" mat-flat-button>
      <mat-icon>login</mat-icon>
      Log in
    </button>
  </ng-container>
</app-toolbar>

<div class="contenedor">
  <mat-card appearance="outlined">
    <mat-card-header>
      <p class="titulo">Cambiar contraseña</p>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="formGroup">
        <mat-form-field class="example-full-width">
          <mat-label id="oldpassword">Contraseña actual</mat-label>
          <input [type]="hide3 ? 'password' : 'text'" autocomplete="oldpassword" formControlName="oldpassword"
                 matInput placeholder="Ingresá tu contraseña actual">
          <button (click)="hide3 = !hide3" mat-icon-button matSuffix style="
    font-size: 16px !important;
    height: 40px !important;
    margin-top: 0 !important;">
            <mat-icon>{{ hide3 ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Contraseña nueva</mat-label>
          <input [type]="hide1 ? 'password' : 'text'" autocomplete="new-password" formControlName="password"
                 matInput placeholder="Ingresá tu contraseña nueva">
          <button (click)="hide1 = !hide1" mat-icon-button matSuffix style="
    font-size: 16px !important;
    height: 40px !important;
    margin-top: 0 !important;">
            <mat-icon>{{ hide1 ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
        @if (formGroup.get('password')?.touched && formGroup.get('password')?.errors) {
          <div class="password-errors">
            <ul>
              @if (formGroup.get('password')?.hasError('required') && formGroup.get('password')?.touched) {
                <mat-error style="margin-top: -10px; margin-left: -20px">Tu contraseña es necesaria para que puedas
                  cambiarla
                </mat-error>
              }
              @if (formGroup.get('password')?.hasError('minlength')) {
                <li>La contraseña debe tener mas de 8 caracteres.</li>
              }
              @if (formGroup.get('password')?.hasError('hasUpperCase')) {
                <li>La contraseña debe incluir mayúsculas.</li>
              }
              @if (formGroup.get('password')?.hasError('hasLowerCase')) {
                <li>La contraseña debe incluir minúsculas.</li>
              }
              @if (formGroup.get('password')?.hasError('hasNumeric')) {
                <li>La contraseña debe incluir números.</li>
              }
              @if (formGroup.get('password')?.hasError('hasSpecial')) {
                <li>La contraseña debe incluir caracteres especiales (~, &#64;, #, _, ^, *, %, /, , +, :, ;, =).</li>
              }
            </ul>
          </div>
        }

        <mat-form-field class="example-full-width">
          <mat-label>Repetir contraseña nueva</mat-label>
          <input [type]="hide2 ? 'password' : 'text'" formControlName="repassword" matInput
                 placeholder="Repetir tu contraseña nueva">
          <button (click)="hide2 = !hide2" mat-icon-button matSuffix style="
    font-size: 16px !important;
    height: 40px !important;
    margin-top: 0 !important;">
            <mat-icon>{{ hide2 ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="formGroup.get('repassword')?.errors?.['mismatch'] && formGroup.get('repassword')?.touched">
            Tus contraseñas no coinciden
          </mat-error>
        </mat-form-field>

        <button (click)="changePassword()" mat-flat-button type="submit">
          Cambiar contraseña
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
